// Global colors
$color-text: #303030;
$color-grey: #4d4d4d;
$color-white: #fff;
$color-post-theme: #1565c0;

// Markdown colors
$color-link: #07a;
$color-quote: #747d88;
$color-quote-border: #d5d8db;

// Table colors
$color-table-even: #ddd;
$color-table-odd: #f2f2f2;

// Code colors
$color-code-background: #272822;

// Admonitions & Misc
$color-success: #64dd17;
$color-question: #00c853;
$color-note: #448aff;
$color-info: #00b8d4;
$color-warning: #ff9100;
$color-hint: #009688;
$color-danger: #ff1744;

// Icons
$icon-note: "\f249";
$icon-danger: "\f06a";
$icon-question: "\f128";
$icon-hint: "\f06d";
$icon-success: "\f00c";
$icon-warning: "\f071";
$icon-important: "\f12a";
