@import "admonition";
@import "theme";

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: "Roboto", serif;
  font-size: 18px;
}
body {
  font-family: "Roboto", serif;
  text-align: justify;
  line-height: 1.6;
  font-size: 0;
  color: $color-text;
  padding: 0 10px;
  background-color: $color-white;
}
th,
td {
  border-bottom: 1px solid $color-table-even;
  padding: 15px;
}
tr:nth-child(even) {
  background-color: $color-table-odd;
}
table {
  border-collapse: collapse;
  width: 100%;
}
img,
object {
  max-width: 100%;
  margin: 30px auto 30px auto;
  height: auto;
  display: block;
}
iframe {
  display: block;
  margin: 30px auto 30px auto;
}
a {
  text-decoration: none;
  color: $color-grey;
  &:hover {
    color: $color-text;
  }
  &:active,
  &:link {
    outline: 0px none;
  }
}

.md {
  a {
    color: $color-link;
    &:hover {
      text-decoration: underline;
    }
  }
  nav a {
    color: $color-toc-link;
    &:hover {
      color: $color-text;
      text-decoration: none;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a.anchor {
      display: none;
      font-weight: 700;
      text-decoration: none;
      color: $color-toc-link;
      &:hover {
        text-decoration: none;
        color: $color-text;
      }
    }
  }
}

h1 {
  margin-top: 50px;
}
h2 {
  margin-top: 40px;
}
h3 {
  margin-top: 30px;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
hr {
  border: 0;
  height: 1px;
  background: $color-grey;
}
blockquote {
  padding-left: 10px;
  margin: 0;
  border-left: 4px solid $color-quote-border;
  color: $color-quote;
  overflow: auto;
  > p {
    padding-right: 10px;
    margin: 0;
  }
}

cite {
  float: right;
  font-style: normal;
}

nav > ul > li {
  padding-top: 0.6em;
}

details {
  padding: 5px 10px 5px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  > summary {
    &:first-of-type {
      list-style-type: none;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
}

summary {
  cursor: pointer;
  outline: none;
}

pre {
  font-family: "Roboto Mono";
  font-size: 14px;
  background: $color-code-background;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  -moz-tab-size: 4ch;
  tab-size: 4ch;
  [class*="language-"] & {
    font-family: "Roboto Mono";
  }
  @media screen and (min-width: 48em) {
    width: 110%;
    margin-left: -5%;
  }
  > code {
    padding: 0;
    padding-right: 1em;
    color: #f8f8f2;
    background-color: transparent;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
  }
}
code {
  font-family: "Roboto Mono";
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0 0.3rem 0 0.3rem;
  border-radius: 0.3em;
  font-size: 15px;

  code[class*="language-"] & {
    font-family: "Roboto Mono";
  }
}

// Image caption
img + em {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  font-size: 16px;
}

.title {
  margin-bottom: 0;
  margin-top: 0;
}
.head {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.head img {
  width: 100%;
  margin-top: 0;
}
.btn {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
  font-size: 14px;
  margin-right: 2px;
}
.twitter {
  background: #00aced;
  color: $color-white;
  border-radius: 5%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.tag {
  border-radius: 16px;
  border: solid $color-grey 1px;
  color: $color-grey;
  &:hover {
    background-color: $color-grey;
    color: $color-white;
  }
}
.draftinfo {
  background: $color-warning;
  color: $color-white;
  border-radius: 5px;
  float: right;
  text-align: center;
}
.footerinfo {
  text-align: center;
  margin-top: 70px;
}
.author {
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.author-info {
  margin-left: 10px;
}
.avatar {
  border-radius: 25%;
  margin: 0px;
  max-width: 50px;
  max-height: 50px;
}
.backbutton {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
span.draft {
  color: $color-white;
  background-color: $color-warning;
  border-width: 1px;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
}

.date {
  color: grey;
  font-size: 0.85rem;
}

.post {
  border-left: 0.25rem solid $color-post-theme;
  border-radius: 0.1rem;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  p {
    margin: 0;
    &.description {
      color: $color-grey;
      font-size: 0.85rem;
      margin: 0.5rem 0 0.5rem 0;
    }
    &.title {
      font-size: 1.2rem;
    }
  }
  &.draft {
    border-left: 0.2rem $color-warning solid;
  }
}
