body {
    font-family: 'Roboto', serif;
    text-align: justify;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    background-color: #FFF;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover {
    color: #444;
}
h1, h2, h3 {
    line-height: 1.2;
    margin-top: 50px;
}
pre {
    font-size: 14px;
}
hr {
    border: 0;
    height: 1px;
    background: grey;
}
code {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    font-size: 14px;
    border-radius: 0.3em;
}
.title {
    margin-bottom: 0;
    margin-top: 0;
}
.head {
    text-align: center;
    margin-top: 0;
    margin-bottom: 75px;
}
.tag {
    background: grey;
    display: inline-block;
    color: #fff;
    position: relative;
    border-radius: 16px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    text-decoration: none;
    font-size: 14px;
}
.footerinfo{
    text-align: center;
    margin-top: 70px;
}
