/* Global Design */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', serif;
    font-size: 18px;
}
body {
    font-family: 'Roboto', serif;
    text-align: justify;
    line-height: 1.6;
    font-size: 0; /* Fix for unexpected whitespaces showing up */
    color: #444;
    padding: 0 10px;
    background-color: #FFF;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
table {
    border-collapse: collapse;
    width: 100%;
}
img,object {
    max-width: 100%;
    margin: 30px auto 30px auto;
    height: auto;
    display: block;
}
iframe {
    display: block;
    margin: 30px auto 30px auto;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover {
    color: #444;
}
a:active,a:link{
    outline: 0px none;
}
.md a {
    color: #07a;
}
.md a:hover {
    text-decoration: underline;
}
.md nav a {
    color: grey;
}
.md nav a:hover {
    color: #444;
    text-decoration: none;
}
h1 {
    margin-top: 50px;
}
h2 {
    margin-top: 40px;
}
h3 {
    margin-top: 30px;
}
h1, h2, h3 {
    line-height: 1.2;
}
hr {
    border: 0;
    height: 1px;
    background: grey;
}
blockquote {
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
    border-left: 4px solid;
    border-color: grey;
    font-style: italic;
    overflow: auto;
}
blockquote>p {
    padding-right: 10px;
    margin: 0;
}
cite {
    float: right;
    font-style: normal;
}

nav > ul > li {
    padding-top: 0.6em;
}

.infobox {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    position: relative;
    margin: 1.5625em 0;
    padding: 1.2rem;
    border-left: .4rem solid #448aff;
    border-radius: .2rem;
    font-size: 1.28rem;
}

.admonition {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    position: relative;
    margin: 1.5625em 0;
    padding: 0 .6rem;
    border-left: .2rem solid #448aff;
    border-left-color: rgb(68, 138, 255);
    border-radius: .1rem;
    font-size: .8rem;
    overflow: auto;
}

.admonition-title {
    margin: 0 -.6rem;
    padding: .4rem .6rem;
    border-bottom: .05rem solid rgba(68,138,255,.1);
    background-color: rgba(68,138,255,.1);
    font-weight: 700;
}

.admonition.info {
    border-left: .2rem solid #448aff;
    border-left-color: rgb(68, 138, 255);
}

.admonition.danger {
    border-left: .2rem solid rgb(244, 67, 54);
    border-left-color: rgb(244, 67, 54);
}

.admonition.danger > p.admonition-title {
    border-bottom: .05rem solid rgb(244, 67, 54,.1);
    background-color: rgb(244, 67, 54,.1);
}

details {
    padding: 5px 10px 5px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

summary {
    cursor: pointer;
    outline: none;
}

details > summary:first-of-type {
    list-style-type: none;
}

details summary::-webkit-details-marker {
    display:none;
}

code[class*="language-"], pre[class*="language-"] {
    font-family: 'Roboto Mono';
}
pre {
    font-family: 'Roboto Mono';
    font-size: 14px;
    background: #272822;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
    -moz-tab-size: 4ch;
    tab-size: 4ch;
}
code {
    font-family: 'Roboto Mono';
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    font-size: 14px;
    border-radius: 0.3em;
}
pre>code {
    padding: 0;
    padding-right: 1em;
    color: #f8f8f2;
    background-color: transparent;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
}

/* Custom */

.title {
    margin-bottom: 0;
    margin-top: 0;
}
.head {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.head img {
    width: 100%;
    margin-top: 0;
}
.btn {
    display: inline-block;
    position: relative;
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-decoration: none;
    font-size: 14px;
    margin: 3px;
}
.twitter {
    background: #00aced;
    color: #fff;
    border-radius: 5%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.tag {
    background: grey;
    color: #fff;
    border-radius: 16px;
}
.draftinfo {
    background: grey;
    color: #fff;
    border-radius: 5px;
    float: right;
    text-align: center;
}
.footerinfo {
    text-align: center;
    margin-top: 70px;
}
.author {
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.author-info {
    margin-left: 10px;
}
.avatar {
    border-radius: 25%;
    margin: 0px;
    max-width: 50px;
    max-height: 50px;
}
.backbutton {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
.draft {
    float: right;
    color: white;
    background-color: grey;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 15px;
}