<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ if .info.Title }}{{ .info.Title }}{{ else }}Home{{ end }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/grids-responsive-min.css" rel="stylesheet" />
    <link rel="icon" href="/static/favicon.gif">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{ if .extra }}<a href="/">← Back</a>{{ end }}
    <div class="head">
    {{ if .title }}<h1 class="title">{{ .title }}</h1>{{ end }}
    {{ if .description }}{{ .description }}{{ end }}
    {{ if .author }}{{ template "author" .author }}{{ end }}
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4"></div>
        <div class="pure-u-1 pure-u-md-1-2">
            {{ if .extra }}<b>{{ .extra }}</b><br /><br />{{ end }}
            {{ range .posts }}
                    <a href="/post/{{ .Slug }}">{{ .Title }}</a>{{ if .Draft }}<span class="draft">Draft</span>{{ end }}<br />
                    {{ range .Tags }}<a href="/tag/{{ . }}"><span class="home-sm-tag">{{ . }}</span></a>{{ end }}
                    <span style="float: right;">{{ .DateFmt }}</span><br />
                    <hr style="background: #e3e1e1;">
            {{ end }}
        </div>
    </div>

</body>

</html>
