<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ .post.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
    <link href="/static/prism.css" rel="stylesheet" />
    <link href="/static/grids-responsive-min.css" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <link rel="icon" href="/static/favicon.gif">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <a href="/">← Back</a>
    <div class="head">
        <h1 class="title">{{ .post.Title }}</h1> {{ if .post.Description }}<i>{{ .post.Description }}</i>{{ end }}
        <br />
        <br /> {{ range .post.Tags }}<a href="/tag/{{ . }}"><span class="sm-tag">{{ . }}</span></a>{{ end }}
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4"></div>
        <div class="pure-u-1 pure-u-md-1-2">
            {{ .post.Markdown }}
            <div class="footerinfo">
                {{ .post.DateFmt }}{{ if .post.Author }} - {{ .post.Author }}{{ end }} - <a href="/post/{{ .post.Slug }}/raw">Raw Markdown</a>
            </div>
            <div id="gitalk-container"></div>
        </div>
    </div>
    <script src="/static/prism.js"></script>
    <script src="/static/konami.js"></script>
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script>
        var tags = ['Gitalk']
        {{ range .post.Tags }}
        tags.push('{{ . }}');
        {{ end }}
        var easter_egg = new Konami(function() {
            var fileref = document.createElement("link");
            fileref.setAttribute("rel", "stylesheet");
            fileref.setAttribute("type", "text/css");
            fileref.setAttribute("href", "/static/term.css");
            document.getElementsByTagName("head")[0].appendChild(fileref)
        });
        const gitalk = new Gitalk({
            clientID: '7261e6111d20620adb79',
            clientSecret: 'fff74aa46c0f2ad58b97fbaa19087cf4a0940654',
            id: '{{ .post.Slug }}',
            repo: 'comments',
            owner: 'Depado',
            admin: ['Depado'],
            labels: tags,
            body: "This is the comment issue for the [{{ .post.Title }}]("+location.href+") article.",
            distractionFreeMode: false
        })
        gitalk.render('gitalk-container')
    </script>
</body>

</html>
