<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ .post.Title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet" type="text/css">
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/grids-responsive-min.css" rel="stylesheet" />
    {{ if .gitalk.Enabled }}
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    {{ end }}
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel="icon" href="/static/favicon.gif">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .extra_style }}<style>{{ .extra_style }}</style>{{ end }}
</head>

<body>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
            <a href="/"><i class="fas fa-list-ul"></i> Home</a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="head">
                {{ if .post.Banner }}<img src="{{ .post.Banner }}" alt="banner">{{ end }}
                <h1 class="title">{{ .post.Title }}</h1>
                {{ if .post.Description }}<p>{{ .post.Description }}</p>{{ end }}
                {{ range .post.Tags }}
                    {{ if not $.local }}<a href="/tag/{{ . }}">{{ end }}<span class="btn tag">{{ . }}</span>{{ if not $.local }}</a>{{ end }}
                {{ end }}
                {{ if .post.Author }}
                    {{ template "author" .post.Author }}
                {{ end }}
            </div>
            <div class="md">
                {{ .post.Markdown }}
            </div>
            <div class="footerinfo">
                {{ .post.DateFmt }} - <a href="/post/{{ .post.Slug }}/raw">Raw Markdown</a>
            </div>
            {{ if .gitalk.Enabled }}
            <div id="gitalk-container"></div>
            {{ end }}
        </div>
        <div class="pure-u-1 pure-u-md-1-4">
            {{ if (and .share (not .post.Draft)) }}
            <div style="float: right;">
                {{ template "share" .share_url }}
            </div>
            {{ end }}
            {{ if .post.Draft }}
            <div class="btn draftinfo">
                <b>Draft Mode</b><br />This page is unlisted
            </div>
            {{ end }}
        </div>
    </div>
    {{ if .gitalk.Enabled }}
    <script id="gt" defer src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script defer>
        var tags = ['Gitalk']
        {{ range .post.Tags }}
        tags.push('{{ . }}');
        {{ end }}
        var script = document.querySelector('#gt');
        script.addEventListener('load', function() {
            const gitalk = new Gitalk({
                clientID: '{{ .gitalk.ClientID}}',
                clientSecret: '{{ .gitalk.ClientSecret }}',
                id: '{{ .post.Slug }}',
                repo: '{{ .gitalk.Repo}}',
                owner: '{{ .gitalk.Owner }}',
                admin: [{{ range .gitalk.Admin }}'{{ . }}',{{ end }}],
                labels: tags,
                body: "This is the comment issue for the [{{ .post.Title }}]("+location.href+") article.",
                distractionFreeMode: false
            })
            gitalk.render('gitalk-container');
        });
    </script>
    {{ end }}
</body>

</html>
